{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container ">
    <figure class="image is-3by1 mt-6">
        <img src="{% static 'img/sobre.jpg' %}">
      </figure>
    <nav class="navbar is-dark">
        <p class="title has-text-white has-text-weight-light ">SOBRE AGENCYS MEXICO  Y SU OFERTA EN RENTA DE AUTOS </p>
       </nav>
    <section class="hero has-background-link-light ">
        <div class="hero-body">
            <div class="container">

                <div class="tile">
                    <article class="tile is-child box">
                      <div class="content">
                      <p class="has-text-justified">
                        Agencys México es representante exclusivo de Agencys para México, tanto para rentas de autos nacionalmente, como para rentas internacionales. Con más de 50 años en el mercado, operando en la República Mexicana le ofrece más de 120 puntos de renta de autos, SUVs y minivans en el país, que se suman a los más de 7,200 puntos de renta que posee Agencys en el mundo, localizándose en ambos casos en los principales aeropuertos, zonas turísticas, terminales y zonas centro de cada ciudad de México.
                        Nuestro equipo comercial está compuesto por más de 50 ejecutivos estratégicamente distribuidos en todo el territorio nacional. Con solo un objetivo, ayudarle y asesorarle a rentar un carro en función de sus necesidades.
                        
                        <ul>
                           <li> Una renta de auto cada segundo</li>
                           <li> 32 millones de rentas de autos al año</li>
                            <li>Más de 27 mil empleados</li>
                           <li> Más de 500,000 autos en todo el mundo</li>              
                            <li>Más de 87,400 oficinas en el mundo</li>
                        </ul>
                      </p>  
                      </div>
                    </article>
                  </div><br><br>

          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Vision</p>
               
                <div class="content">
                  <p class="has-text-justified">Ser la marca preferida para el alquiler de vehículos, equipo y soluciones integrales de transporte. 
                </p>
                </div>
              </article>
            </div>
            <div class="tile is-parent is-8">
              <article class="tile is-child box">
                <p class="title">Mision</p>

                <div class="content">
                  <p class="has-text-justified">Ser la empresa preferida para el alquiler de vehículos y equipo mas eficiente con mayor enfoque en sus clientes en todos sus mercados donde servimos. Nosotros fortalecemos nuestras posiciones globales de liderazgo a través de una cultura de valores compartidos con la fuerza laboral y el desarrollo con asociados 
                      haciendo inversiones estratégicas en nuestra marca, gente y productos. </p>
                </div>
              </article>
            </div>
          </div>
    </div>
  </div>
    </section>

</div>
  
{% endblock content %}

<div class="container">

    <section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Fullheight hero with navbar
      </p>
    </div>
  </div>
</section>
</div>