{% extends 'panel/dash_base.html' %}
{% load static %}


{% block dash %}

<div class="container-fluid">
    
    <!--For Page-->
    <div class="bg">
        <!--For Row containing all card-->
        <div class="row mainRow">
            <!--Card 1-->
            <div class="col-sm-8">
                <div class="card card-cascade wider shadow p-3 mb-5 ">
                    <!--Card image-->
                    <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="{{ op.nombres.imagen.url }}" alt=""> <a>
                            <div class="mask rgba-white-slight"></div>
                        </a> </div>
                    <!--Product Description-->
                    <div class="desc">
                        <!-- 1st Row for title-->
                        <div class="row subRow">
                            <!--Column for Data-->
                            <div class="col">
                                <p class="text-muted row1">Color</p>
                                <p class="row2">{{ op.color }}</p>
                            </div>
                            <!--Column for Data-->
                            <div class="col">
                                <p class="text-muted row1">Transmicion</p>
                                <p class="row2">{{ op.transmision }}</p>
                            </div>
                            <!--Column for Data-->
                            <div class="col">
                                <p class="text-muted row1">Puertas</p>
                                <p class="row2">{{ op.puertas }}</p>
                            </div>
                        </div> <!-- 2nd Row for title-->
                        <div class="row subRow">
                            <!--Column for Data-->
                            <div class="col">
                                <p class="text-muted row1">Cilindros</p>
                                <p class="row2">{{ op.cilindros }}</p>
                            </div>
                            <!--Column for Data-->
                            <div class="col">
                                <p class="text-muted row1">Tipo de Combustible</p>
                                <p class="row2">{{ op.combustible }}</p>
                            </div>
                            <!--Column for Data-->
                            <div class="col">
                                <p class="text-muted row1">Tamaño</p>
                                <p class="row2">{{ op.nombres.tamano }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card 2-->
            <div class="col-sm-4">
                <div class="card card-cascade card-ecommerce wider shadow p-3 mb-5 ">
                    <!--Card Body-->
                    <div class="card-body card-body-cascade">
                        <!--Card Description-->
                        <div class="card2decs">
                            <p class="heading1"><strong>{{op.nombres}}</strong></p>
                            <p class="quantity">Marca<span class="float-right text1">{{ op.nombres.marca }}</span></p>
                            <p class="subtotal">Modelo<span class="float-right text1">{{ op.nombres.modelo }}</span></p>
                            <p class="shipping">Estado<span class="float-right text1">{{ op.nombres.get_estado_display }}</span></p>
                            <p class="total"><strong>Precio</strong><span class="float-right totalText1">$<span class="totalText2">{{ op.nombres.precio }}</span></span></p>
                        </div>
                      
                        <!--Card footer--> <a href="" class="purchaseLink">
                            <div class="card-footer text-center"> Rentar &#8594; </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    </div>
    

    
{% endblock dash %}
    



