{% extends 'panel/dash_base.html' %}
{% load static %}


{% block dash %}

        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->
           
                <div class="col-lg-4 col-xlg-3 col-md-12">
                    <div class="white-box">
                      
                        <div class="user-bg">
                          
                            <div class="overlay-box">
                                <div class="user-content"><img src="" alt="">
                                    <a href="javascript:void(0)"><img src="{{per.avatar.url}}"
                                            class="thumb-lg img-circle" alt="img"></a>
                                    <h4 class="text-white mt-2">{{user}}</h4>
                                    <h5 class="text-white mt-2">{{email}}</h5>
                                </div>
                            </div>
                          
                        </div>
                   
                        <div class="user-btm-box mt-5 d-md-flex">
                            <div class="d-grid gap-2 mx-auto">
                                <a href="{% url 'users_app:update-p' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Actualizar contraseña</a>
            
                              </div>
                        </div>
                    </div>
                </div>


                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-12">
                    <p class="font-weight-bold text-center"> Datos de domicilio</p>
                 
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material">
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Edad</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        {{form.edad}}
                                </div>
                                
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Numero de telefono</label>
                                    <div class="col-md-12 border-bottom p-0">
                                     <!--  <input type="text" placeholder="123 456 7890"
                                        class="form-control p-0 border-0"> -->  
                                        {{form.telefono}} 
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Ciudad</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        {{form.ciudad}}
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Direccion</label>
                                    <div class="col-md-12 border-bottom p-0">
                                      <!-- <input type="text" placeholder="Calle 8 de Mayo Col.Retiro"
                                            class="form-control p-0 border-0">  -->  
                                            {{form.direccion}}
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Codigo Postal</label>
                                    <div class="col-md-12 border-bottom p-0">
                                      <!-- <input type="text" placeholder="Calle 8 de Mayo Col.Retiro"
                                            class="form-control p-0 border-0">  -->  
                                            {{form.cp}}
                                    </div>
                                </div>
                               
                       

                                <div class="form-group mb-4">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success" 
                                        style="background-color: #f8b400;border-color: #f8b400;" >Actualizar datos
                                       </button>
                                    </div>    
                                </div>
                                
                               
                             
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>

{% endblock dash %}
   